/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.width100pc {
  width: 100%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.top-gap-10 {
  padding-top: 10px !important;
}

.bottom-gap-10 {
  padding-bottom: 10px !important;
}

.bottom-gap-5 {
  padding-bottom: 5px;
}

.right-gap-5 {
  padding-right: 5px !important;
}

.float-left {
  float: left;
  clear: none;
}

.white-text {
  color: white;
}

.label-choose-festive {
  padding-top: 4px;
}

.choose-festive {
  background-color: #eee;
}