b = "Wish you a Happy Bakrid"
br
br
= "May this... Eid bring Fun, Eid bring Happiness, Eid bring God Endless Blessings, Eid bring fresh love! Bakrid MUBARAK to You with all best wishes :)"
br
br
= "'Eid-ul-Azha Mubarak!'<br> May Allah shower countless blessing upon You and Your Family. Keep me in your prayers".html_safe
br
br
= "May your plate of life be always full of juicy kebabs & tikkas, topped with the chutney of happiness."