b = "Wish you a Happy Birthday"
br
br
= "Birthdays are a new start, fresh beginnings, a time to start new endeavors with new goals. Move forward with fresh confidence and courage. You are a special person, may you have an amazing today and year!"
br
br
= "Count the age, not the wrinkles you have. Count the blessings and the wonderful experience not the mistakes you have made."
br
br
= "Happy Birthday to a person who is charming, talented and witty and reminds me a lot of myself."