b = "Wish you a Merry Christmas!!"
br
br
= "May this holiday season sparkle and shine. May all your wishes and dreams come true and may you feel this happiness all year round."
br
br
= "Having you as my friend makes me feel as if it is Christmas all year round. The warmth and comfort that comes with this season reminds me of you."
br
br
= "Wishing you peace, joy, and all the best the holiday has to offer. May this incredible time of giving and spending time with family bring you joy that lasts throughout the year."