b = "Wish you a Happy Diwali"
br
br
= "Look outside it’s pleasant! Lights smiling for you! Candles dancing for you! Fairies waiting for you! Because I asked them to wish you a Happy Diwali!"
br
br
= "There’s always something warm and bright about this time of the year. When everything has a special glow, and hearts are full of cheer. That’s why, this special greeting comes your way!"
br
br
= "Delightful laddoos, incandescent diyas, whole lot of smiles and laughter, a big stock of enjoy and masti, lots of mithai, innumerable fireworks. Wishing you fun, frolic and endless celebration!"