b = "Wish you a Happy Dussehra"
br
br
= "May Lord Shriram give u all happiness and love to ur family."
br
br
= "A time for celebration, a time for victory of good over bad, a time when world see the example of power of good. Let us continue the same 'true' spirit."
br
br
= "Hope this festive season brings lots of joy to all of you."