b = "Wish you a Happy Easter Sunday"
br
br
= "GOD proved His love on the cross! He once again proved it by coming back on this day!"
br
br
= "A man who was completely innocent sacrificed himself for the good of others, including his enemies. Let's hail his return!"
br
br
= "The greatest gift of Easter is hope - Christian hope! It makes us have that confidence in GOD, in his ultimate triumph, and in his goodness and love, which nothing can shake!"