b = "Wish you a Happy Ganesh Chathurthi"
br
br
= "Wishing you Happiness as big as Ganesh-ji’s appetite, life is long as his trunk, trouble as small as his mouse and moments as sweet as his laddus."
br
br
= "I wish Joy, Harmony and Prosperity on Ganesh Pooja for you and your family."
br
br
= "The significance of riding on a mouse is the complete conquest over egoism."