b = "Wish you a Happy Holi"
br
br
= "Bright colors, water balloons, lavish gujiyas and melodious songs are the ingredients of perfect Holi."
br
br
= "May God gift you all the colors of life, colors of joy, colors of happiness, colors of friendship, colors of love and all other colors you want to paint in your life."
br
br
= "On this day, let the colour shower love which dwells in our hearts. Lets sing together the ballad of love happy holi with love"