b = "Wish you a Happy Labour Day"
br
br
= "Without labour nothing prospers."
br
br
= "Work is not to make money; you work to justify life."
br
br
= "Man is so made that he can only find relaxation from one kind of labour by taking up another."