b = "Wish you a Happy Onam"
br
br
= "Life becomes a festival when gaiety and culture blend. Onam delivers the message of both."
br
br
= "We celebrate Onam to commemorate a glorious past."
br
br
= "Onam is the day to remember that GOD is superior to all!"