b = "Wish you a Happy Pongal"
br
br
= "As you joyfully celebrate the festival of Pongal and welcome the harvest season, this greeting is being sent your way, to wish you everything, that the occasion is meant to bring."
br
br
= "Wishing that this festival brings good luck and prosperity and hoping that it is joyous, and fills your days ahead with happiness."
br
br
= "My warm pongal wishes to you and your family."