b = "Wish you a Happy Raksha Bandhan"
br
br
= "You can kid the world, but not your sister."
br
br
= "Our brothers and sisters are there with us from the dawn of our personal stories to the inevitable dusk."
br
br
= "A brother shares childhood memories and grown-up dreams."