b = "Wish you a Happy Ramzan"
br
br
= "Ramadan is, in its essence a month of humanist spirituality"
br
br
= "He is the Generator, Organizer and Destroyer! May that Almighty bless you with happiness in this holy month!"
br
br
= "Here comes the day, with chanda mama shining up bright and blessing everyone. His love is so tender and merciful. Shining down on the earth and wishing us!"