b = "Wish you a Happy Republic Day"
br
br
= "Our government is founded upon the intelligence of the people. Let's make it more intelligent."
br
br
= "A republic day without parties is a complete anomaly. The histories of all popular governments show absurd is the idea of their attempting to exist without parties."
br
br
= "On what rests the hope of the republic? One country, one flag!"