b = "Wish you a Happy Valentine's Day"
br
br
= "Love is our true destiny. We do not find the meaning of life by ourselves alone - we find it with another."
br
br
= "All you need is little love. But a little chocolate now and then doesn't hurt."
br
br
= "If you have only one smile in you, give it to the one you love."